<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="author" content="Imad">
        <meta name="description" content="This is a login page">
        <meta name='Viewport' content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>List App</title>

        <link rel="shortcut icon" href="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
        
    </head>

    <body>
        {% block main %}
        {% endblock main %}
    </body>
</html>